.logPage {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: Arial, sans-serif;
    height: 100vh ;
    align-items: center;
    justify-content: center;
    color: white;
}

.header {
    display: flex;
    text-align: center;
    background-color: black;
    height: 20%;
    margin-top: -10px;
}

.header h1 {
    display: flex;
    color: white;
    font-size: 4em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    padding-top: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 200px;
}

.login-form input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: #606468;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #EA4C88;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.links {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 5px;
}


.link-button {
    background-color: #141414; 
    color: white; 
    border: none; 
    padding: 4px 10px; 
    border-radius: 20px; 
    font-size: 10px;
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s;
}


.link-button:hover {
    background-color: #9d979a;
}

.links a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.music-bar {

    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/music-bar.png');
    background-size: cover;
    background-position: center;
    border-radius: 200px;
    width: 70%;
    height: 35%;
    margin-bottom: 2%;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(233, 231, 231);    
    font-size: 0.8em; 
    margin-top: 5px;  

  }
  